body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'SevenSegment';
    src: url('/7segment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}