
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'SevenSegment';
    src: url('/7segment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-size: clamp(1rem, 5vw, 3rem);
}


.text-red {
    color: red;
}

.text-white {
    color: white;
}

.orbitron-bold {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.orbitron-light {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.seven-segment {
    font-family: 'SevenSegment';
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.5rem;
}

.d-flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.p-0 {
    padding: 0 !important;
}

.flex-wrap {
    flex-wrap: wrap;
}

.h-100 {
    height: 100%;
}

.border {
    border: 1px solid rgba(255, 0, 0, 0.6);
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(255 0 0 / 0.5);
}

.gap {
    gap: 1rem;
}

.m-0 {
    margin: 0;
}

.row {
    display: flex;
    flex-direction: row;
}

.full-size {
    width: 100%;
    height: auto;
}

.align-self-end {
    align-self: flex-end;
}

.column {
    display: flex;
    flex-direction: column;
}

.col-25 {
    width: 25%;
}

.col-75 {
    width: 75%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.7s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}


/* slideIn animation has overflow: hidden */
.slideRight-enter-active,
.slideRight-leave-active {
    transition: all 0.3s ease-in-out;
    opacity: 1;
    transition-delay: 0.3s;
}

.slideRight-enter-from,
.slideRight-leave-to {
    transform: translateX(-2rem);
    position: absolute;
    opacity: 0;
}

.justify-content-end {
    justify-content: flex-end;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.opacity-0 {
    opacity: 0;
}

.opacity-100 {
    opacity: 1;
}

.pointer-none {
    pointer-events: none;
}

.pointer-auto {
    pointer-events: auto;
}

.pulse-fade {
    animation: pulse-fade 1s ease-in-out infinite;
}

@keyframes pulse-fade {
    50% {
        opacity: 0.1;
    }
}