
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
}

* {
    box-sizing: border-box;
}

#app {
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: 'SevenSegment';
    src: url('/7segment.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


.text-red {
    color: red;
}

.text-white {
    color: white;
}

.orbitron-bold {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.orbitron-light {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.seven-segment {
    font-family: 'SevenSegment';
}

.text-xs {
    font-size: 0.75rem;
}

.text-sm {
    font-size: 0.875rem;
}

.text-md {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.5rem;
}

.d-flex {
    display: flex;
    align-items: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-1 {
    flex: 1;
}

.p-0 {
    padding: 0 !important;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.border {
    border: 1px solid rgba(255, 0, 0, 0.6);
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 0 10px 0 rgba(255 0 0 / 0.5);
}

.gap {
    gap: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
}

.full-size {
    width: 100%;
    height: auto;
}

.column {
    display: flex;
    flex-direction: column;
}

.col-25 {
    width: 25%;
}

.col-75 {
    width: 75%;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 1.7s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

body {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
}